<!-- src/app/todo/todo.component.html -->
<div class="todo-container">
  <h2>Liste des tâches</h2>
  <input [(ngModel)]="newTodo" placeholder="Ajouter une nouvelle tâche" />
  <button (click)="addTodo()">Ajouter</button>

  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" [(ngModel)]="todo.completed" (change)="toggleCompletion(todo)" />
      <span [ngClass]="{ 'completed': todo.completed }">{{ todo.title }}</span>
      <button (click)="deleteTodo(todo.id)">Supprimer</button>
    </li>
  </ul>

  
</div>
